body {
    background: #F6F6F6;
}

.site-content-toolbar {
    background: #f6f6f6 !important;
    color: #202020 !important;
    z-index: 3;
}

.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.md-whiteframe-z2 {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.md-avatar {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box
}

.auth-wrapper {
    background: rgba(9, 133, 220, 0.1);
    padding: 10px;
}

#menu-list a {
    color: inherit;
    text-decoration: none;
}

#menu-list a.active {
    font-weight: bold;
}


.user-p{
    position: relative;
    z-index: 15;
}

.user-p > span {
    display: inline-block;
}

.user-p > span:first-child {
    border-right: solid 1px #E1E1E1;
    padding: 0 10px;
}

.user-p > span > .md-avatar{
    margin-right: 10px;
    margin-left: 20px;
}

.user-graph{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: darkseagreen;
    opacity: 0.15;
    z-index: 10;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
}